<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="mb-4">
                <input type="text" #num1 class="form-control" placeholder="num 1">
            </div>
            <div class="mb-4">
                <input type="text" #num2 class="form-control" placeholder="num 2">
            </div>
            <div class="mb-4 ">
                <button class="btn btn-info" (click)="addNumbers(num1,num2)">Add</button>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            Answer={{result}}
        </div>
        <div class="col-4"></div>
    </div>
</div>
